.git/
.gitignore
**/.git

node_modules/
frontend/node_modules/

dist/
build/
coverage/

backend/**/bin/
backend/**/obj/

.env
.env.*
*.log
*.tmp

.dockerignore
Dockerfile*

.vscode/
.idea/
.DS_Store
Thumbs.db
