<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[*.Tests]*,[*.Test]*</Exclude>
          <IncludeDirectories>
            <IncludeDirectory>src</IncludeDirectory>
          </IncludeDirectories>
          <ExcludeAttributes>
            <ExcludeAttribute>System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute</ExcludeAttribute>
          </ExcludeAttributes>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
